<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>TEST</title>
</head>
<body>
<h1>Hello World !</h1>

<form action="">
    
<label for="">
<input type="text"><input type="text">
</label>

<label for=""><input type="text">
<input type="text">
</label>

</form>

    
    
</body>
</html>